a.navbar-brand {
    color: white;
}

a.nav-link {
    color: white;
}

span.fieldinfo {
    color: white;
    font-family: Bitter,Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
